* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.recipe-links {
    width: 800px;
    margin: 0 auto;
    text-align: center;
}

.list {
    display: inline-block;
    font-size: 16px;
    margin: 0 24px;
}

.major-heading, 
.sub-heading,
.list,
.para {
    font-family: Helvetica, Arial, "sans-serif";
}

.major-heading,
.sub-heading {
    font-weight: 800;
}

.major-heading {
    font-size: 24px;
    text-align: center;
    margin: 20px 0;
}

.food {
    width: auto;
    height: 500px;
}

.sub-heading {
    font-size: 20px;
}

.para{
    font-size: 18px;
}

.food-card {
    display: inline-block;
    width: 200px;
    background-color: rgb(204 208 231);
    /* border-radius: 12px; */
}

.food-card-image {
    width: 200px;
    height: auto;
}

.food-card, .food-card-image {
    border-radius: 12px;
}

.food-card-image img {
    border-radius: 12px 12px 0 0;
    width: 200px;
}